affinityCookieTtlSec: 0
backends:
- balancingMode: RATE
  capacityScaler: 0.1
  group: https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/networkEndpointGroups/[NEG_NAME_STD]
  maxRatePerEndpoint: 5.0
- balancingMode: RATE
  capacityScaler: 0.9
  group: https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/networkEndpointGroups/[NEG_NAME_PVM]
  maxRatePerEndpoint: 5.0
connectionDraining:
  drainingTimeoutSec: 0
description: ''
healthChecks:
- https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/global/healthChecks/td-gke-health-check
kind: compute#backendService
loadBalancingScheme: INTERNAL_SELF_MANAGED
name: td-gke-service
port: 80
portName: http
protocol: HTTP
selfLink: https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/global/backendServices/td-gke-service
sessionAffinity: NONE
timeoutSec: 30
circuitBreakers:
  maxRetries: 3
outlierDetection:
  consecutiveErrors: 2

